.vscode
.DS_Store
/config.mak
/sources
/output
/binutils-*
/gcc-*
/musl-*
/gmp-*
/mpc-*
/mpfr-*
/build-*
/linux-*
/isl-*
/build
/mingw-*
/glibc-*
/freebsd-*
/netbsd-*
/openbsd-*
/llvm-project-*
/zlib-*
/zstd-*
/libxml2-*
/*.orig
/dist
**/*.local*
output-*
