name: build-on-linux-riscv64

on:
  workflow_dispatch:
  workflow_call:

jobs:
  init:
    uses: ./.github/workflows/get-targets.yml

  build_targets_on_linux_riscv64_cross:
    name: Build cross
    runs-on: ubuntu-latest
    needs:
      - init
    strategy:
      fail-fast: false
      matrix:
        targets: ${{ fromJSON(needs.init.outputs.TARGETS) }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build
        id: build
        run: |
          docker run --rm \
            --platform linux/riscv64 \
            --volume "${PWD}:/build" \
            riscv64/alpine:edge \
            /bin/sh -c '
              apk add --no-cache \
                coreutils \
                curl \
                bzip2 \
                xz \
                make \
                bison \
                rsync \
                patch \
                perl \
                flex \
                g++ \
                texinfo \
                python3 \
                gawk \
                grep \
                bash \
                tar \
                file && \
              cd /build && \
              export CROSS_DIST_NAME_SUFFIX="-linux-riscv64" && \
              bash scripts/build.sh \
                -LDP \
                -a \
                -T "${{ matrix.targets }}"'

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.targets }}-linux-riscv64
          path: |
            dist
            !dist/*.log
