name: build-on-linux-x86_64

on:
  workflow_dispatch:
  workflow_call:
  push:
    tags:
      - "v*"

jobs:
  init:
    uses: ./.github/workflows/get-targets.yml

  build_targets_on_linux_x86_64:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - init
    strategy:
      fail-fast: false
      matrix:
        targets: ${{ fromJSON(needs.init.outputs.TARGETS) }}
    steps:
      - uses: actions/checkout@v4

      - name: Build
        id: build
        run: |
          docker run --rm \
            --platform linux/amd64 \
            --volume "${PWD}:/build" \
            amd64/alpine:latest \
            /bin/sh -c '
              apk add --no-cache \
                coreutils \
                curl \
                bzip2 \
                xz \
                make \
                bison \
                rsync \
                patch \
                perl \
                zip \
                flex \
                g++ \
                texinfo \
                python3 \
                gawk \
                grep \
                bash \
                tar \
                file && \
              cd /build && \
              export CROSS_DIST_NAME_SUFFIX="-linux-x86_64" && \
              bash scripts/build.sh \
                -LDP \
                -n \
                -a \
                -T "${{ matrix.targets }}"'

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.targets }}-linux-x86_64
          path: |
            dist
            !dist/*.log

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs:
      - init
      - build_targets_on_linux_x86_64
    strategy:
      fail-fast: false
      matrix:
        targets: ${{ fromJSON(needs.init.outputs.TARGETS) }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.targets }}-linux-x86_64
          path: dist

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload "${{ github.ref_name }}" dist/*.* --clobber --repo ${{ github.repository }}
