name: build-on-linux-x86_64

on:
  workflow_dispatch:

jobs:
  init:
    uses: ./.github/workflows/get-targets.yml

  # Build jobs - split into 8 chunks to avoid GitHub's 256 job limit
  build_1:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_1 }}
      platform: linux-x86_64

  build_2:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_2 }}
      platform: linux-x86_64

  build_3:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_3 }}
      platform: linux-x86_64

  build_4:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_4 }}
      platform: linux-x86_64

  build_5:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_5 }}
      platform: linux-x86_64

  build_6:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_6 }}
      platform: linux-x86_64

  build_7:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_7 }}
      platform: linux-x86_64

  build_8:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_8 }}
      platform: linux-x86_64
