name: build-on-darwin-aarch64

on:
  workflow_dispatch:
  workflow_call:
  push:
    tags:
      # Only match version tags like v1.0.0, exclude release tags with suffix like v1.0.0-musl-linux-x86_64
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-beta[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-alpha[0-9]+"

jobs:
  init:
    uses: ./.github/workflows/get-targets.yml

  # Build jobs - split into 4 chunks to avoid GitHub's 256 job limit
  build_1:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_1 }}
      platform: darwin-aarch64

  build_2:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_2 }}
      platform: darwin-aarch64

  build_3:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_3 }}
      platform: darwin-aarch64

  build_4:
    needs: init
    uses: ./.github/workflows/multi-target.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_4 }}
      platform: darwin-aarch64
