name: build-on-linux-armv7

on:
  workflow_dispatch:
  workflow_call:
  push:
    tags:
      - "v*"

jobs:
  init:
    uses: ./.github/workflows/get-targets.yml

  # Build jobs - split into 4 chunks to avoid GitHub's 256 job limit
  build_1:
    needs: init
    uses: ./.github/workflows/reusable-build.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_1 }}
      platform: linux-armv7
      runs-on: ubuntu-24.04-arm
      docker-platform: linux/arm/v7
      docker-image: arm32v7/alpine:latest
      use-docker: true

  build_2:
    needs: init
    uses: ./.github/workflows/reusable-build.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_2 }}
      platform: linux-armv7
      runs-on: ubuntu-24.04-arm
      docker-platform: linux/arm/v7
      docker-image: arm32v7/alpine:latest
      use-docker: true

  build_3:
    needs: init
    uses: ./.github/workflows/reusable-build.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_3 }}
      platform: linux-armv7
      runs-on: ubuntu-24.04-arm
      docker-platform: linux/arm/v7
      docker-image: arm32v7/alpine:latest
      use-docker: true

  build_4:
    needs: init
    uses: ./.github/workflows/reusable-build.yml
    with:
      targets: ${{ needs.init.outputs.TARGETS_4 }}
      platform: linux-armv7
      runs-on: ubuntu-24.04-arm
      docker-platform: linux/arm/v7
      docker-image: arm32v7/alpine:latest
      use-docker: true
