name: build-on-darwin-aarch64

on:
  workflow_dispatch:
  workflow_call:
  push:
    tags:
      - "v*"

jobs:
  init:
    uses: ./.github/workflows/get-targets.yml

  build_targets_on_macos_aarch64:
    name: Build
    runs-on: macos-15
    needs:
      - init
    strategy:
      fail-fast: false
      matrix:
        targets: ${{ fromJSON(needs.init.outputs.TARGETS) }}
    steps:
      - uses: actions/checkout@v4

      - name: Create Case-sensitive volume
        run: |
          diskutil list
          diskutil apfs addVolume disk3 "Case-sensitive APFS" cross
          cp -r ./* /Volumes/cross

      - name: Init Dependencies
        run: |
          brew install \
            make \
            gnu-sed \
            gawk \
            gpatch \
            coreutils \
            findutils \
            gcc@14 \
            perl \
            libtool \
            bison \
            texinfo

      - name: Build
        working-directory: /Volumes/cross
        run: |
          export CROSS_DIST_NAME_SUFFIX="-darwin-aarch64"
          bash scripts/build.sh \
            -LDP \
            -c "gcc-14" -x "g++-14" \
            -a \
            -T "${{ matrix.targets }}"

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.targets }}-darwin-aarch64
          path: |
            /Volumes/cross/dist
            !/Volumes/cross/dist/*.log

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs:
      - init
      - build_targets_on_macos_aarch64
    strategy:
      fail-fast: false
      matrix:
        targets: ${{ fromJSON(needs.init.outputs.TARGETS) }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.targets }}-darwin-aarch64
          path: dist

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload "${{ github.ref_name }}" dist/*.* --clobber --repo ${{ github.repository }}
