name: get-targets

on:
  workflow_call:
    outputs:
      TARGETS:
        description: "Array of all targets from scripts/targets.yaml"
        value: ${{ jobs.get_targets.outputs.TARGETS }}

jobs:
  get_targets:
    name: Get All Targets
    runs-on: ubuntu-latest
    outputs:
      TARGETS: ${{ steps.get_all_targets.outputs.TARGETS }}
    steps:
      - uses: actions/checkout@v4

      - name: Install yq
        run: |
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq

      - name: Get all targets
        id: get_all_targets
        run: |
          TARGETS=$(yq -o=json -I=0 '[.targets[].TARGET]' scripts/targets.yaml)
          echo "TARGETS=$TARGETS" >> $GITHUB_OUTPUT
