name: releases-on-linux-powerpc64le

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-on-linux-powerpc64le.yml

  release:
    name: Release
    uses: ./.github/workflows/release.yml
    needs: build
