name: releases-on-linux-s390x

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-on-linux-s390x.yml

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload "${{ github.ref_name }}" dist/*.* --clobber
